{#
  Displays information about the current board.
#}

<h4>Game info</h4>

Different board data appears here.

<div class="board-options grid-x grid-margin-x">
  <div class="cell auto">
    <button id="reset" data-open="modal_new_board" class="reset button">New Board</button>

  </div>
</div>
